/* Untuk Tablet */
@media all and (max-width: 1000px) {

  .header-list {
    width: 65%;
    float: right;
    margin-right: -65px;
  }

  .header-bottom h1 {
    font-size: 55px;
    letter-spacing: 5px;
  }

  .header-bottom p {
    letter-spacing: 1px;
    padding-top: 4px;
  }

  .main {
    flex: 85%;
    margin-left: -20px;
    margin-top: -10px;
  }

  .card-wrapper {
    width: 43%;
    margin: 10px;
    padding-left: -20px;
  }

  .card-wrapper h3{
    color: rgb(31,135,83);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 35px
  }

  .side {
    flex: 15%;
  }

  .item {
    position: absolute;
    margin-top: -93px;
    margin-left: 775px;
  }

  table {
    margin-left: 34px;
    margin-top: 20px;
    margin-bottom: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 93%;
  }

  .card-wrapper img {
    margin-left: 150px;
  }

  .tabel a {
    margin-left: 877px;
  }
}

@media all and (max-width: 670px) {

   .top-wrapper input {
    position: absolute;
    margin-right: -140px;
  }

}
